<footer>
		<nav class="round">
		<ul>
			<li><%= link_to "Kontakt" , contact_path %></li>
			<li><%= link_to "O nas" , about_path %></li>
			<li><%= link_to "Stran izdelal" , "#"%></li>
			<li><%= link_to "Validation" , "#"%></li>
		</ul>
		<div class="clear" />
		</nav>
	</footer>